DATABASE_URL="postgres://user:password@localhost:5432/database"
SECRET_KEY="ThisIsSecretKey"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=10080
CLIENT_ID="6779ef20e75817b79602"
CLIENT_SECRET="ZYDPLLBWSK3MVZYDPLLBWSK3MVQJSIYHB1OR2JXCY0X2C5UJ2QAR2MAAIT5QQJSIYHB1OR2JXCY0X2C5UJ2QAR2MAAIT5Q"
DEFAULT_PASSW="$2b$12$I5.oT8q3D1m0.RRHrbT.ZuO0oUL77bQLXHLnRQyMyTWtbXzyJyDci"
